<section  class="container-fluid">
	<div class="loginBg">
		<span class="login-logo">
			<i class="logoImg"><img src="../images/logo.png" style="height:65px;"></img></i>
		</span>
		<div class="inputLogin">
			<input type="text" name="name" placeholder="Name">
			<span class="focus-input" data-placeholder="&#xf207;"></span>
		</div>
		<div class="inputLogin">
			<input type="email" name="email" placeholder="Email">
			<span class="focus-input" data-placeholder="&#xf15a;"></span>
		</div>
		<div class="inputLogin">
			<input type="text" name="number" placeholder="Mobile Number">
			<span class="focus-input" data-placeholder="&#xf2cc;"></span>
		</div>
		<div class="inputLogin">
			<input type="password" name="password" placeholder="Password">
			<span class="focus-input" data-placeholder="&#xf191;"></span>
		</div>
		<div class="inputLogin">
			<input type="password" name="cnfpassword" placeholder="Confirm Password">
			<span class="focus-input" data-placeholder="&#xf191;"></span>
		</div>
		<div class="container-login-btn">
			<button class="login-btn">
				Register
			</button>
			<div class="col-xs-12 col-sm-12 col-md-12 linkToUser"><a href="#!"><i>Already a member?</i></div>
		</div>
	</div>
</section>