<section>
	<div class="loginBg">
		<span class="login-logo">
			<i class="logoImg"><img src="../images/logo.png" style="height:65px;"></img></i>
		</span>
		<br/>
		<br/>
		<br/>
		<br/>
		<div class="inputLogin">
			<input type="text" name="number" placeholder="Mobile Number">
			<span class="focus-input" data-placeholder="&#xf2cc;"></span>
		</div>
		<div class="inputLogin">
			<input type="email" name="email" placeholder="Email">
			<span class="focus-input" data-placeholder="&#xf15a;"></span>
		</div>
		<div class="container-login-btn">
			<button class="login-btn">
				Next
			</button>
		</div>
	</div>
</section>