<section  class="container-fluid">
	<div class="loginBg">
		<span class="login-logo">
			<i class="logoImg"><img src="../images/logo.png" style="height:65px;"></img></i>
		</span>
		<div class="inputLogin">
			<input type="text" name="username" placeholder="Username">
			<span class="focus-input" data-placeholder="&#xf207;"></span>
		</div>
		<div class="inputLogin">
			<input type="password" name="password" placeholder="Password">
			<span class="focus-input" data-placeholder="&#xf191;"></span>
		</div>
		<div class="container-login-btn">
			<button class="login-btn">
				Login
			</button>
			<div class="col-xs-12 col-sm-12 col-md-12 linkToUser"><a href="#!register"><i>Not a member?</i></div>
		</div>
	</div>
</section>